@using RackingSystem.Models.BOM
@model BOMListDTO
@{
    string mode = ViewBag.Mode;
}

<style>
    .card {
        border-color: #f2f2f2 !important;
    }

    .title {
        font-weight: 600;
        margin-bottom: 5px; 
        font-size: 18px;
    }

    .title-container {
        width: 40px;  
        height: 100%;
        cursor: pointer;
        display: flex;               
        justify-content: flex-start;
        align-items: center; 
    }

    .select2-selection--single {
        height: 40px !important;  
        border-radius: 0.375rem;   
        border: 1px solid #ced4da; 
        padding: 8px;  

    }

    .select2-selection__arrow {
        height: 100%;
        margin: 5px 10px 0px;
    }

    input {
        height: 40px;
    }

   .add-sub {
        margin-bottom: 10px;
        margin-left:auto;
    }

    .bomContainer, .subContainer, .sumContainer { 
        padding: 10px 20px;
    }

    .subContainer {
        display: flex;
        flex-direction: column;
    }

    .itemContainer {
        padding: 5px 25px 0px;
    }

    #bomForm {
        background-color: #fff;
        padding: 20px 30px;
        border-radius: 20px;
    }

    .card-body {
        background-color: #f2f2f2;
    }

    .bg-body-tertiary {
        background-color: #f2f2f2 !important;
    }

    .title-icon {
        font-size: 18px;
    }

    .data-row {
        display: flex;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .label {
        width: 160px;
    }

    .value {
        flex: 1;
    }

    hr {
        margin-top: 0;
    }
</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">BOM Details</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-warning" onclick="enabledEdit()" @(mode == "view" ? "" : "hidden")>
                <i class="bi bi-pencil-square"></i> Edit
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @* <div class="card-header table-title">
                    <div class="card-title">
                        <h2>BOM Details <b></b></h2>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-warning" onclick="enabledEdit()" @(mode == "view" ? "" : "hidden")>
                            <i class="bi bi-pencil-square"></i> Edit
                        </button>
                    </div>
                </div> *@
                <div class="card-body">
                    <form id="bomForm" method="post" data-bom-id="@Model.BOM_Id">
                        <div class="bomContainer">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="d-flex">
                                            <i class="bi bi-box title-icon"></i>
                                            <span class="title titleColor ms-2">BOM</span>
                                        </div>
                                    </div>
                                    <div class="itemContainer">
                                        <div class="row g-4">
                                            <div class="col-4">
                                                <label for="bomName">Finished Item</label>
                                                <select class="bom-select js-example-basic-single form-control" id="bomName" style="width:100%" @(mode == "view" ? "disabled" : "")></select>
                                                <div id="bomNameError" class="error-message"></div>
                                            </div>
                                            <div class="col-7">
                                                <label for="txtdesc">Description</label>
                                                <input type="text" class="form-control" id="txtdesc" placeholder="Please enter description" value="@Model.Description" @(mode == "view" ? "disabled" : "") >
                                                <div id="txtdescError" class="error-message"></div>
                                            </div>
                                            @* <div class="col-3">
                                                <label for="txtCreatedBy">Created By</label>
                                                <input type="text" class="form-control" id="txtCreatedBy" placeholder="Please enter created person" value="@Model.CreatedBy" @(mode == "view" ? "disabled" : "")>
                                                <div id="txtCreatedByError" class="error-message"></div>
                                            </div> *@
                                            <div class="form-check form-switch mt-3 ms-2">
                                              <input class="form-check-input" type="checkbox" role="switch" id="chkIsActive" @(Model.IsActive ? "checked" : "") @(mode == "view" ? "disabled" : "")>
                                              <label class="form-check-label" for="chkIsActive">Enable BOM</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col second-col ms-4">
                                    <div class="row">
                                        <div class="d-flex">
                                            <i class="bi bi-clipboard-data title-icon"></i>
                                            <span class="title titleColor ms-2">Summary</span>
                                        </div>
                                    </div>
                                    <div class=itemContainer>
                                        <div class="row data-row">
                                            <div class="label">Total Sub Items</div>
                                            <div class="value" id="ttlSub">1</div>
                                        </div>
                                        <div class="row data-row">
                                            <div class="label">Created Date</div>
                                            <div class="value" id="createDate">-</div>
                                        </div>
                                        <div class="row data-row">
                                            <div class="label">Updated Date</div>
                                            <div class="value" id="updateDate">-</div>
                                        </div>
                                    </div>                                    
                                </div> *@
                            </div>
                        </div>
                       <hr>

                        <div class="subContainer">
                            <div class="row">
                                <div class="d-flex">
                                    <i class="bi bi-list-stars title-icon"></i>
                                    <span class="title subtitleColor ms-2">Sub Item</span>
                                </div>
                            </div>
                            <div class="itemContainer" id="itemContainer">
                                <div class="row g-4">
                                    <div class="col-4">
                                        <label for="subItem1">Item</label>
                                    </div>
                                    <div class="col-2">
                                        <label for="txtQty1">Quantity</label>
                                    </div>
                                    <div class="col-5">
                                        <label for="txtRemark1">Remark</label>
                                    </div>
                                </div>
                                <div class="row itemBlock" id="itemBlock" data-index="1" >
                                    <div class="item">
                                        <div class="row g-4 mb-2">
                                            <div class="col-4">
                                                <select class="bom-select js-example-basic-single form-control" id="subItem1" style="width:100%" @(mode == "view" ? "disabled" : "")></select>
                                                <div id="subItem1Error" class="error-message"></div>
                                            </div>
                                             <div class="col-2">
                                                <input type="number" class="form-control" id="txtQty1" placeholder="Please enter quantity" @(mode == "view" ? "disabled" : "") required> 
                                                <div id="txtQty1Error" class="error-message"></div>
                                            </div>
                                            <div class="col-5">
                                                <input type="text" class="form-control" id="txtRemark1" placeholder="Please enter remark" @(mode == "view" ? "disabled" : "") required >
                                                <div id="txtRemark1Error" class="error-message"></div>
                                            </div>
                                            <div class="title-container">
                                                <button class="btn btn-outline-danger" type="button" onclick="removeItem(this)" @(mode == "view" ? "hidden" : "")>
                                                    <i class="fa fa-trash" tabindex="0"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <input type="hidden" id="txtBomDtlId1">
                                    </div>
                                </div>
                            </div>

                            <button id="addSub" type="button" class="add-sub mt-2 btn btn-outline-success" tabindex="0" onclick="addSubItem()" @(mode == "view" ? "hidden" : "")>
                                <i class="fas fa-plus-circle"></i> Sub Item
                            </button>
                        </div>
                        <hr>

                        <div class="sumContainer">
                            <div class="row">
                                <div class="d-flex">
                                    <i class="bi bi-clipboard-data title-icon"></i>
                                    <span class="title titleColor ms-2">Summary</span>
                                </div>
                            </div>
                            <div class="itemContainer">
                                <div class="row data-row">
                                    <div class="label">Total Sub Items</div>
                                    <div class="value" id="ttlSub">1</div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary me-2" id="saveButton" @(mode == "view" ? "hidden" : "")>Save</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="returnToBOM()" @(mode == "view" ? "hidden" : "")>Cancel</button>
                            <button type="button" class="btn btn-secondary" id="backButton" onclick="returnToBOM()" @(mode == "view" ? "" : "hidden")><i class="bi bi-arrow-left"></i> Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/gridjs.min.css">    
    <link rel="stylesheet" href="~/css/select2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>  
    <script src="~/js/gridjs.umd.js"></script>
    <script src="~/js/select2.min.js"></script>
    
    <script type="text/javascript">
        let itemIndex = 1;
        let mode = "@mode";

        $(document).ready(function() {
            $('.bom-select').select2({
                placeholder: 'Select an option',
                width: 'resolve',
            });

            loadItems().then(() => {
                loadDetails();
            }).catch((error) => {
                swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: error
                });
            });

            
        });

        function loadItems() {
            return Promise.all([getFinishedItemList(), getRawItemList()]);
        }

        function loadDetails() {
            var bomForm = document.querySelector('#bomForm');
            var bomId = bomForm.getAttribute('data-bom-id');
            console.log(bomId);

            $.ajax({
                url: '/BOM/GetBOMDetail',
                type: 'POST',
                data: JSON.stringify(bomId),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.success == true) {
                       bomDtls = result.data.map(function (i) {
                            return {
                                bomId: i.boM_Id,
                                bomDetailId: i.bomDetail_Id,
                                itemId: i.item_Id,
                                qty: i.qty,
                                remark: i.remark,
                            };
                        });

                        console.log("details");

                        const container = document.getElementById("itemContainer");
                        const items = container.querySelectorAll(".itemBlock");
                        const itemCount = items.length;

                        bomDtls.forEach((dtl, index) => {
                            if (index === 0) {
                                const firstItem = container.querySelector(".itemBlock");
                                const select = firstItem.querySelector("select");
                                const qtyInput = firstItem.querySelector('input[type="number"]');
                                const remarkInput = firstItem.querySelector('input[type="text"]');
                                const detailId = firstItem.querySelector('input[type="hidden"]');

                                select.value = dtl.itemId;  
                                qtyInput.value = dtl.qty;
                                remarkInput.value = dtl.remark;
                                detailId.value = dtl.bomDetailId;

                                $(select).val(dtl.itemId).trigger('change');

                            } else if (itemCount < bomDtls.length) {
                                createNewInputField(dtl, index+1, true);
                            }
                            index++;
                        });
                        itemIndex = bomDtls.length == 0 ? itemIndex : bomDtls.length;

                        const total = document.querySelectorAll('.itemBlock').length;
                        document.getElementById('ttlSub').textContent = total;
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function getFinishedItemList() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "/Item/GetFinishedItemList/",
                    type: "GET",
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result.success == true) {
                            const dropdown = document.getElementById('bomName');
                            dropdown.innerHTML = "";

                            const defaultOption = document.createElement("option");
                            defaultOption.value = "";
                            defaultOption.textContent = "Choose an Item";
                            defaultOption.disabled = true;
                            defaultOption.selected = true;
                            dropdown.appendChild(defaultOption);

                            result.data.forEach(function (i) {
                                const option = document.createElement("option");
                                option.value = i.item_Id;
                                option.textContent = i.itemCode;
                                dropdown.appendChild(option);
                            });

                            $(dropdown).select2({
                                placeholder: 'Select an option',
                                width: 'resolve',
                            }).trigger('change');  

                            const itemId = @Model.Item_Id;
                            if (itemId) {
                                $(dropdown).val(itemId).trigger('change');
                            }
                            resolve();
                        } else {
                            reject(result.errMessage);
                        }
                    },
                    error: function (error) {
                        reject("Failed to load finished items.");
                    }
                });
            });
        }

        function getRawItemList () {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "/Item/GetRawItemList/",
                    type: "GET",
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result.success == true) {
                            const dropdown = document.getElementById('subItem1');
                            if (dropdown)
                            {
                                dropdown.innerHTML = "";
                                const defaultOption = document.createElement("option");
                                defaultOption.value = "";
                                defaultOption.textContent = "Choose an Item";
                                defaultOption.disabled = true;
                                defaultOption.selected = true;
                                dropdown.appendChild(defaultOption);

                                result.data.forEach(function (i) {
                                    const option = document.createElement("option");
                                    option.value = i.item_Id;
                                    option.textContent = i.itemCode;
                                    dropdown.appendChild(option);
                                });

                                $(dropdown).select2({
                                    placeholder: 'Select an option',
                                    width: 'resolve',
                                }).trigger('change');  
                            }
                            resolve();
                        } else {
                            reject(result.errMessage);
                        }
                    },
                    error: function (error) {
                        reject(result.errMessage);
                    }
                });
            });
        }

        function addSubItem() {
           const container = document.getElementById("itemContainer");
           console.log(container);
           console.log("item index", itemIndex);
           itemIndex++;
           console.log("item index new", itemIndex);

           createNewInputField(null, itemIndex, false);
           const total = document.querySelectorAll('.itemBlock').length;
           document.getElementById('ttlSub').textContent = total;
        };

        function createNewInputField(dtl, index, isEditing = false) {
            console.log(index);

            const container = document.getElementById("itemContainer");
            const firstItem = container.querySelector(".itemBlock");
            //destroy select2 before clone to avoid the original select2 be affected
            $(firstItem.querySelector("select")).select2('destroy');

            const dataIdx = firstItem.getAttribute("data-index");
            const newItem = firstItem.cloneNode(true);
            newItem.setAttribute("data-index", index);

            const select = newItem.querySelector("select");
            const qtyInput = newItem.querySelector('input[type="number"]');
            const remarkInput = newItem.querySelector('input[type="text"]');
            const detailId = newItem.querySelector('input[type="hidden"]');

            const newItemIndex = index;
            select.id = `subItem${newItemIndex}`;
            qtyInput.id = `txtQty${newItemIndex}`;
            remarkInput.id = `txtRemark${newItemIndex}`;
            detailId.id = `txtBomDtlId${newItemIndex}`;

            //remove all label
            newItem.querySelectorAll('label').forEach(label => label.remove());
            select.value = isEditing == true ? dtl.itemId : "";
            qtyInput.value = isEditing == true ? dtl.qty : "";
            remarkInput.value = isEditing == true ? dtl.remark : "";
            detailId.value = isEditing == true ? dtl.bomDetailId : "";

            const errBlock1 = newItem.querySelector(`#subItem${dataIdx}Error`);
            errBlock1.id = `subItem${newItemIndex}Error`;
            const errBlock2 = newItem.querySelector(`#txtQty${dataIdx}Error`);
            errBlock2.id = `txtQty${newItemIndex}Error`;
            const errBlock3 = newItem.querySelector(`#txtRemark${dataIdx}Error`);
            errBlock3.id = `txtRemark${newItemIndex}Error`;

            container.appendChild(newItem);
            //reinitialize select2
            container.querySelectorAll(".itemBlock").forEach(item => {
                $(item.querySelector("select")).select2({
                    placeholder: 'Select an option',
                    width: 'resolve',
                }).trigger('change');
            });
            removeErrMsg([`subItem${newItemIndex}`, `txtQty${newItemIndex}`, `txtRemark${newItemIndex}`]);

        };


        function removeItem(icon) {
            const item = icon.closest('.itemBlock');
            const container = document.getElementById("itemContainer");
            const items = container.querySelectorAll(".itemBlock");
            const itemCount = items.length;

            if (itemCount > 1)
            {
                item.remove();
            } else {
                swal.fire({
                    icon: 'info',
                    title: "Cannot Remove",
                    text: "At least one sub-item must remain."
                });
            }

           const total = document.querySelectorAll('.itemBlock').length;
           document.getElementById('ttlSub').textContent = total;
        };

        function returnToBOM() {
            window.history.back();
        }

        document.getElementById("saveButton").addEventListener("click", function(event) {
            event.preventDefault();
            saveBOM();
        });

        function saveBOM() {
            const items = document.querySelectorAll('.item');
            const itemCount  = items.length;
            const formData = [];
            let isValid = true;

            //validation for BOM header
            removeErrMsg('bomName');
            if (!document.getElementById('bomName').value.trim()) {
                isValid = false;
                showError('bomName', `Finished Item is required.`);
            }

            //validation for subItem
            items.forEach(item => {
                console.log("item", item);

                removeErrMsg([item.querySelector("select").id, item.querySelector('input[type="number"]').id, item.querySelector('input[type="text"]').id]);
                const subitem = item.querySelector("select").value;
                const qty = item.querySelector('input[type="number"]').value;
                const remark = item.querySelector('input[type="text"]').value;
                const bomDtlId = item.querySelector('input[type="hidden"]').value;

                if (!subitem) {
                    isValid = false;
                    showError(item.querySelector("select").id, "Please choose a raw item.");
                }
                if (!qty || isNaN(qty) || qty <=0) {
                    isValid = false;
                    showError(item.querySelector('input[type="number"]').id, "Please enter a valid quantity (number >= 1)");
                }

                formData.push({
                    BOMDetail_Id: parseInt(bomDtlId) || 0,
                    BOM_Id: parseInt(@Model.BOM_Id) || 0,
                    Item_Id: parseInt(subitem),
                    Qty: parseInt(qty),
                    Remark: remark
                });
            });

            if (isValid) {
               var bomData = {
                    BOM_Id: parseInt(@Model.BOM_Id)  || 0,
                    Item_Id: parseInt($('#bomName').val()),
                    CreatedBy: $('#txtCreatedBy').val() || "",
                    Description: $('#txtdesc').val(),
                    IsActive: $('#chkIsActive').prop("checked"),
                    SubItems: formData,
               };

                $.ajax({
                    url: '/BOM/SaveBOM',
                    type: 'POST',
                    data: JSON.stringify(bomData),
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {
                        Swal.fire({
                            text: 'Please Wait',
                            width: '300px',

                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading()
                    },
                    success: function (result) {
                        if (result.success == true) {
                            swal.fire({
                                icon: 'success',
                                title: "Success Save",
                                text: "",
                                didClose: () => {
                                  // window.location.reload();
                                  window.history.back();
                                }
                            });
                        }
                        else {
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: result.errMessage
                            });
                        }
                    },
                    error: function (error) {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: error.val
                        });
                    }
                });
            }

            console.log(bomData);
        }

        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function removeErrMsg(fields, clearValue = false) {
            if (fields != null)
            {
                if (!Array.isArray(fields)) {
                    fields = [fields];
                }
                fields.forEach(function(field) {
                    document.getElementById(field).classList.remove('is-invalid');
                    document.getElementById(field).classList.remove('is-valid');
                    document.getElementById(field + 'Error').textContent = '';
                    if (clearValue) document.getElementById(field).value = '';
                });
            }
        }

        function enabledEdit() {
            mode = 'edit';

            const form = document.getElementById('bomForm');
            const elements = form.querySelectorAll('input, select, button');

            elements.forEach(el => {
                if (el.type != 'hidden') {
                    el.disabled = false;
                    el.hidden = false;
                }
            });

            document.getElementById('saveButton')?.removeAttribute('hidden');
            document.getElementById('addSub')?.removeAttribute('hidden');

            document.querySelectorAll('.btn-outline-danger').forEach(btn => {
                btn.removeAttribute('hidden');
            });

            document.querySelector('.btn-warning')?.setAttribute('hidden', 'true');
            document.getElementById('backButton')?.setAttribute('hidden', 'true');

        }

    </script>
}
