<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WMS</title>

    <!-- Theme Color -->
    <meta name="color-scheme" content="light" />
    <meta name="theme-color" content="#007bff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)" />

    <!-- Fonts -->
    @* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> *@
    <link href="~/css/roboto.css" rel="stylesheet" />

    @* <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script> *@
    <script src="~/js/fontawesome-all.js"></script>

    <link rel="stylesheet"
    href="~/css/overlayscrollbars.min.css"
    crossorigin="anonymous" />

    <link rel="stylesheet"
    href="~/lib/bootstrap-font/bootstrap-icons.min.css"
    crossorigin="anonymous" />

    <!--begin::Required Plugin(AdminLTE)-->
    @* <link rel="stylesheet" href="../../css/adminlte.css" /> *@
    <link rel="stylesheet" href="~/css/adminlte.css" asp-append-version="true" />
    <!--end::Required Plugin(AdminLTE)-->


    <style type="text/css">
        html * {
        /* font-size: 1em !important; */
        /* color: #000 !important; */
        font-family: Varela Round !important;
        }
    </style>
</head>

<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">

    <!--begin::App Wrapper-->
    <div class="app-wrapper">
        <!--begin::Header-->
        @* <nav class="app-header navbar navbar-expand bg-body">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Start Navbar Links-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                            <i class="bi bi-list"></i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Home</a></li>
                </ul>
                <!--end::Start Navbar Links-->

            </div>
            <!--end::Container-->
        </nav> *@
        <!--end::Header-->
        <!--begin::Sidebar-->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <!--begin::Sidebar Brand-->
            <div class="sidebar-brand">
                <!--begin::Brand Link-->
                <a href="./index.html" class="brand-link">
                    <!--begin::Brand Text-->
                    <span class="brand-text fw-light">WMS</span>
                    <!--end::Brand Text-->
                </a>
                <!--end::Brand Link-->
            </div>
            <!--end::Sidebar Brand-->
            <!--begin::Sidebar Wrapper-->
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <!--begin::Sidebar Menu-->
                    <ul class="nav sidebar-menu flex-column"
                    data-lte-toggle="treeview"
                    role="navigation"
                    aria-label="Main navigation"
                    data-accordion="false"
                    id="navigation">
                        <li class="nav-item">
                            <a asp-action="Dashboard1" asp-controller="Dashboard" class="nav-link">
                                <i class="nav-icon bi bi-pie-chart"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>

                        @if (ViewBag.PermissionList.Contains(1) || ViewBag.PermissionList.Contains(2) || ViewBag.PermissionList.Contains(3) || ViewBag.PermissionList.Contains(4))
                        {
                            <li class="nav-item" id="grpMM">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-ui-checks-grid"></i>
                                    <p>
                                        MAINTENANCES
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(1) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="LoaderList" asp-controller="Loader" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Auto Loader List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(2) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="TrolleyList" asp-controller="Trolley" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Trolley List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(3) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="TrolleySlot" asp-controller="Trolley" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Trolley Slot List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(4) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="SlotList" asp-controller="Slot" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Slot Module List</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (ViewBag.PermissionList.Contains(20) || ViewBag.PermissionList.Contains(21))
                        {
                            <li class="nav-item" id="grpSTOCK">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-box-seam-fill"></i>
                                    <p>
                                        STOCK
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(20) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="ItemGroupList" asp-controller="Item" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Item Group List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(21) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="ItemList" asp-controller="Item" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Item List</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (ViewBag.PermissionList.Contains(40))
                        {
                            <li class="nav-item" id="grpBOM">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-diagram-3"></i>
                                    <p>
                                        BOM
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(40))
                                    {
                                        <li class="nav-item">
                                            <a asp-action="BOMList" asp-controller="BOM" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>BOM List</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li> 
                        }


                        @if (ViewBag.PermissionList.Contains(60) || ViewBag.PermissionList.Contains(61) || ViewBag.PermissionList.Contains(62))
                        {
                            <li class="nav-item" id="grpGRN">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-truck"></i>
                                    <p>
                                        GRN
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(60) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="NewAutoLoaderTask" asp-controller="GRN" class="nav-link">
                                                <i class="nav-icon bi bi-asterisk"></i>
                                                <p>New Auto Loader Task</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(60) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="NewGRN" asp-controller="GRN" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>New Receive</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(61) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="GRNDetailList" asp-controller="GRN" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>GRN List</p>
                                            </a>
                                        </li>
                                    }
                                   @*  @if (ViewBag.PermissionList.Contains(62) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="GRNDetailList" asp-controller="GRN" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Reprint Reel Sticker</p>
                                            </a>
                                        </li>
                                    } *@
                                </ul>
                            </li>
                        }

                        @* <li class="nav-item" id="grpJO">
                            <a href="javascript:none" class="nav-link">
                                <i class="nav-icon bi bi-cart-plus"></i>
                                <p>
                                    JOB ORDER
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="./docs/introduction.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>JO List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./docs/introduction.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>JO Schedule</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./docs/introduction.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Emergency Job</p>
                                    </a>
                                </li>
                            </ul>
                        </li> *@

                        
                        @if (ViewBag.PermissionList.Contains(80) || ViewBag.PermissionList.Contains(81))
                        {
                            <li class="nav-item" id="grpJO">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-diagram-3"></i>
                                    <p>
                                        JOB ORDER
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(80))
                                    {
                                        <li class="nav-item">
                                            <a asp-action="JOList" asp-controller="JO" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>JO List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(81))
                                    {
                                        <li class="nav-item">
                                            <a asp-action="JOEmergencyList" asp-controller="JO" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Emergency JO List</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                        @if (ViewBag.PermissionList.Contains(90))
                        {
                            <li class="nav-item" id="grpQ">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-diagram-3"></i>
                                    <p>
                                        QUEUE SYSTEM
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(90))
                                    {
                                        <li class="nav-item">
                                            <a asp-action="RackJobQueueList" asp-controller="RackJobQueue" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Queue List</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                        @if (ViewBag.PermissionList.Contains(100) || ViewBag.PermissionList.Contains(101) || ViewBag.PermissionList.Contains(102) || ViewBag.PermissionList.Contains(103))
                        {
                            <li class="nav-item" id="grpRACKING">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-hdd-rack"></i>
                                    <p>
                                        RACKING
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(100) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="AvailableReelList" asp-controller="Reel" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Available Reel List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(101) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="SlotStatus" asp-controller="Slot" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Racking Status</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(102) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="SlotDrawer" asp-controller="Slot" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Empty Slot Drawer</p>
                                            </a>
                                        </li>
                                    } 
                                    @if (ViewBag.PermissionList.Contains(103) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="SlotSimulation" asp-controller="Slot" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Simulation</p>
                                            </a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a asp-action="RackJob" asp-controller="Rack" class="nav-link">
                                            <i class="nav-icon bi bi-asterisk"></i>
                                            <p>Transfer Hub In Task</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="NewHubInTask" asp-controller="Rack" class="nav-link">
                                            <i class="nav-icon bi bi-asterisk"></i>
                                            <p>Hub In Task (P)</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                        @if (ViewBag.PermissionList.Contains(121) || ViewBag.PermissionList.Contains(122) || ViewBag.PermissionList.Contains(123) || 
                        ViewBag.PermissionList.Contains(124) || ViewBag.PermissionList.Contains(125) || ViewBag.PermissionList.Contains(126))
                        {
                            <li class="nav-item" id="grpSETTINGS">
                                <a href="javascript:none" class="nav-link">
                                    <i class="nav-icon bi bi-gear"></i>
                                    <p>
                                        SETTINGS
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (ViewBag.PermissionList.Contains(121) == true)
                                    {
                                        <li class="nav-item ">
                                            <a asp-action="UserList" asp-controller="Account" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>User List</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(122) == true)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="UserAccessRightList" asp-controller="Account" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>User Access Right</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(123) == true)
                                    {
                                        <li class="nav-item ">
                                            <a asp-action="ReelDimensionList" asp-controller="Setting" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Reel Height</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(124) == true)
                                    {
                                        <li class="nav-item ">
                                            <a asp-action="SlotCalculationList" asp-controller="Setting" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Slot Usage</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(125) == true)
                                    {
                                        <li class="nav-item ">
                                            <a asp-action="SlotColumnSetting" asp-controller="Setting" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Slot Column</p>
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.PermissionList.Contains(126) == true)
                                    {
                                        <li class="nav-item ">
                                            <a asp-action="GlobalSetting" asp-controller="Setting" class="nav-link">
                                                <i class="nav-icon bi bi-circle"></i>
                                                <p>Global Setting</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                    </ul>
                    <!--end::Sidebar Menu-->
                </nav>
            </div>
            <!--end::Sidebar Wrapper-->
        </aside>
        <!--end::Sidebar-->
        <!--begin::App Main-->
        <main class="app-main">
            @RenderBody()
        </main>
        <!--end::App Main-->
        <!--begin::Footer-->
        <footer class="app-footer">
            <!--begin::To the end-->
            @* <div class="float-end d-none d-sm-inline">Anything you want</div> *@
            <!--end::To the end-->
            <!--begin::Copyright-->
            <strong>
                Copyright &copy; 2025&nbsp;
                <!--<a href="https://adminlte.io" class="text-decoration-none">Flex Software Consulting Sdn Bhd</a>-->
            </strong> 
            <!--end::Copyright-->
        </footer>
        <!--end::Footer-->
    </div>
    <!--end::App Wrapper-->

    
    <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
    <script src="~/lib/popper/popper.js"></script>
    <script type="module" src="~/js/adminlte.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: '/Account/getSession',
                type: 'GET',
                success: function(data) {
                    // console.log(data);
                    if (data == "") {
                        window.location.href = '@Url.Action("Login", "Account")';
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });


            // for (var j = 1; j <= ttlPage; j++) {
            //     $('#btnP' + j).removeClass('active');
            // }
            // $('#btnP' + page).addClass('active');
            
            var myActiveTab = '@ViewData["ActiveTab"]';
            var myActiveGroup = '@ViewData["ActiveGroup"]';
            console.log(myActiveGroup);
            $('#' + myActiveGroup).addClass('menu-open');

            const allLinks = document.querySelectorAll('a.nav-link'); // Selects all <a> elements on the page

            allLinks.forEach(link => {
              const hrefValue = link.href; // Access the href attribute of each link
                    // console.log(hrefValue);
              if (hrefValue.includes(myActiveTab)) {
                  $(link).addClass('active');
              }
              else {
                  $(link).removeClass('active');
              }
            });


        });
    </script>

</body>
</html>
